.header{
    background-color: rgba(156, 75, 231, 0.411);
    border-bottom: 2px solid #f44436;
    position: fixed;
    top: 0;
    height: 68px;
    width: 100%;
    display: flex;
    padding: 0.75rem;
    font-size: 1rem;
    align-items: center;
    justify-content: space-around;

}
.header span {
    font-size: 2rem;
    color: rgb(233, 11, 11);
    font-weight: 300;    
}

.header a {
    text-decoration: none;
    color: aliceblue;
    padding-inline: 0.5rem;
    font-size: 1.125rem;
    
}