.footer{
    background-color: rgba(156, 75, 231, 0.411);
    color: aliceblue;
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    border-top: 2px solid #363232;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.footer h2{
    font-size: 1rem;
    font-weight: 500;
}