* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .maname-regular {
  font-family: "Maname", serif;
  font-weight: 400;
  font-style: normal;
  }
}

:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: #ffff;
  --marron: rgb(153, 9, 9);
  --roxo: rgba(156, 75, 231, 0.411);
}
code {
  font-family:soucer-code-pro, Menlo, Monaco, consolas 'monospace' ;
}

body{

  background-color: rgba(0, 0, 0, 0.527);
}
h1{
  text-align: center;
}
.cards {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}